//$body-bg:    #ffffff !default;
$body-color: #111;

// Colors
$theme-colors: (
    "light": #F3F7F0,
    "orange": #F3833C,
    "yellow": #FFC353,
    "green": #13B084,
    "blue": #28A4C1,
    "dark-blue": #0A72BF,
    "magenta": #464B8E
);

// Fonts
$font-family-sans-serif: 'Ubuntu', sans-serif;