{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Подготовим ребенка к успешной сдаче экзаменов. Наши программы по школьным предметам разработаны для успешной сдачи ЕГЭ с любым уровнем начальной подготовки">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Подготовка к ЕГЭ в образовательном центре Квант</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#19323c">
    <meta name="msapplication-TileColor" content="#19323c">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter49736551 = new Ya.Metrika2({
                        id:49736551,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49736551" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- VK Retargeting pixel -->
    <script type="text/javascript">!function () {
        var t = document.createElement("script");
        t.type = "text/javascript", t.async = !0, t.src = "https://vk.com/js/api/openapi.js?158", t.onload = function () {
            VK.Retargeting.Init("VK-RTRG-265887-d2Juf"), VK.Retargeting.Hit()
        }, document.head.appendChild(t)
    }();</script>
    <noscript><img src="https://vk.com/rtrg?p=VK-RTRG-265887-d2Juf" style="position:fixed; left:-999px;" alt=""/>
    </noscript>
    <!-- /VK Retargeting pixel -->
</head>
<body>

<header class="header-top py-3 bg-light">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-8 mb-3 mb-md-0 text-center text-md-left">
			<ul class="list-inline mb-0">
				<li class="list-inline-item mr-3">
                    <a href="tel:+73432885276">+7 (343) 288-52-76</a>
				</li>
                <!--<li class="list-inline-item">-->
					<!--<button type="button" class="btn btn-sm btn-outline-secondary">Заказать звонок</button>-->
				<!--</li>-->
			</ul>
			</div>
			<div class="col-md-4 mb-3 mb-md-0">
				<ul class="list-inline social social-rounded social-default social-sm mb-0 text-center text-md-right">
					<li class="list-inline-item">
                        <a href="https://vk.com/quantzone"><i class="fab fa-vk fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/quant.ekb/"><i class="fab fa-instagram fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/quantzone"><i class="fab fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCoUKlSnccos27LFxJiVs5lA"><i class="fab fa-youtube fa-lg"></i></a>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</header>

<header class="header sticky-top">
    <div class="navbar navbar-expand-lg navbar-dark dark-shades">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo-main.png' %}" alt="" height="48">
            </a>

            <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                <div class="hamburger hamburger--spin js-hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#video" data-scrollto="video">Видео</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="#feedback" data-scrollto="feedback">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features" data-scrollto="features">Методика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing" data-scrollto="pricing">Стоимость</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq" data-scrollto="faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team" data-scrollto="team">Кто мы?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacts" data-scrollto="contact">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="section bg-light pb-5 pt-3" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 mt-3 pl-4">
                <h1 class="home-title">Подготовим к успешной сдаче экзаменов</h1>
                <p class="pt-4">Наши программы по школьным предметам разработаны для успешной сдачи ЕГЭ с любым уровнем начальной подготовки</p>
                <!--<div class="watch-video pt-4">-->
                    <!--<a href="#video" class=""><i class="fa fa-play"></i> <span>Посмотреть видео!</span></a>-->
                <!--</div>-->
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card p-md-5 p-4">
                    <h4 class="mb-4 pt-0">Запишитесь на пробное занятие</h4>
                    <h5 class="text-muted form-subtitle mb-4">Встреча-знакомство с преподавателем</h5>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="text-muted">Телефон</label>
                            <input type="text" id="id_phone" name="phone" class="form-control" aria-describedby="emailHelp" placeholder="Введите телефон">
                        </div>
                        <div class="form-group">
                            <label class="text-muted">Ваше имя</label>
                            <input type="text" id="id_name" name="name" class="form-control" placeholder="Имя">
                        </div>
                        <button type="submit" class="btn btn-secondary w-100 text-uppercase" style="background-color: #F3833C; border-color: #F3833C;">Записаться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section py-5 bg-black">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">
                    Наша специализация
                </h2>
                <ul class="text-center list-inline mt-4">
                    <li class="list-inline-item">Математика</li>
                    <li class="list-inline-item">Русския язык</li>
                    <li class="list-inline-item">Химия</li>
                    <li class="list-inline-item">Физика</li>
                    <li class="list-inline-item">Обществознание</li>
                    <li class="list-inline-item">Информатика</li>
                    <li class="list-inline-item">Литература</li>
                    <li class="list-inline-item">Английский язык</li>
                </ul>
                <!--<div class="card-columns pt-4">-->
                    <!--<div class="card bg-dark text-white">-->
                        <!--<img class="card-img" src="https://dummyimage.com/540x305/dddddd.png" alt="Card image">-->
                        <!--<div class="card-img-overlay d-flex">-->
                            <!--<div class="my-auto mx-auto text-center">-->
                                <!--<h5 class="card-title align-middle mb-0">Математика</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card bg-dark text-white">-->
                        <!--<img class="card-img" src="https://dummyimage.com/540x305/dddddd.png" alt="Card image">-->
                        <!--<div class="card-img-overlay d-flex">-->
                            <!--<div class="my-auto mx-auto text-center">-->
                                <!--<h5 class="card-title align-middle mb-0">Физика</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card bg-dark text-white">-->
                        <!--<img class="card-img" src="https://dummyimage.com/540x305/dddddd.png" alt="Card image">-->
                        <!--<div class="card-img-overlay d-flex">-->
                            <!--<div class="my-auto mx-auto text-center">-->
                                <!--<h5 class="card-title align-middle mb-0">Русский язык</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card bg-dark text-white">-->
                        <!--<img class="card-img" src="https://dummyimage.com/540x305/dddddd.png" alt="Card image">-->
                        <!--<div class="card-img-overlay d-flex">-->
                            <!--<div class="my-auto mx-auto text-center">-->
                                <!--<h5 class="card-title align-middle mb-0">Химия</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card bg-dark text-white">-->
                        <!--<img class="card-img" src="https://dummyimage.com/540x305/dddddd.png" alt="Card image">-->
                        <!--<div class="card-img-overlay d-flex">-->
                            <!--<div class="my-auto mx-auto text-center">-->
                                <!--<h5 class="card-title align-middle mb-0">Обществознание</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card bg-dark text-white">-->
                        <!--<img class="card-img" src="https://dummyimage.com/540x305/dddddd.png" alt="Card image">-->
                        <!--<div class="card-img-overlay d-flex">-->
                            <!--<div class="my-auto mx-auto text-center">-->
                                <!--<h5 class="card-title align-middle mb-0">Английский язык</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card bg-dark text-white">-->
                        <!--<img class="card-img" src="https://dummyimage.com/540x305/dddddd.png" alt="Card image">-->
                        <!--<div class="card-img-overlay d-flex">-->
                            <!--<div class="my-auto mx-auto text-center">-->
                                <!--<h5 class="card-title align-middle mb-0">Литература</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card bg-dark text-white">-->
                        <!--<img class="card-img" src="https://dummyimage.com/540x305/dddddd.png" alt="Card image">-->
                        <!--<div class="card-img-overlay d-flex">-->
                            <!--<div class="my-auto mx-auto text-center">-->
                                <!--<h5 class="card-title align-middle mb-0">Информатика</h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>

<section id="quote" class="py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <p class="h3 d-block mt-4 font-alt title-extra-large">"Попади в среду, мотивирующую на постоянное развитие и совершенствование!"</p>
            </div>
        </div>
    </div>
</section>

<!--<section class="section py-5 bg-yellow">-->
    <!--<a class="anchor" id="video"></a>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="content col-md-6 col-12 order-md-12 text-center">-->
                <!--<h2>Видео о нашем центре</h2>-->
                <!--<p>Образование для нас - не просто работа, а стиль жизни. Каждое занятие наши преподаватели делают ярким, запоминающимся и, конечно же, полезным! </p>-->
            <!--</div>-->
            <!--<div id="video-container" class="video-container col-md-6 col-12 order-md-1">-->
                <!--<div class="embed-responsive embed-responsive-16by9">-->
                    <!--<iframe class="embed-responsive-item" src="http://player.vimeo.com/video/87044590" width="570" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<section class="section bg-light pb-5">
    <a class="anchor" id="feedback"></a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h2 class="pt-5">Наши ученики</h2>
                    <p class="pt-3 text-muted">Наши дети поступают в 9 гимназию и СУНЦ УрФУ, учатся в УрФУ, МГТУ им. Баумана, МГУ, СПбГУ, свободно говорят на английском языке и отличают Толстого от Достоевского по первому предложению. Почитайте, каких успехов добились наши выпускники.</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <div class="testimonial-box pt-5">
                    <div class="testimonial-desc p-4">
                        <p class="text-center text-muted">"Привет) хотел выразить огромную благодарность не только за егэ, но и за кучу жизненных и поучительных советов, я поступил в бауманку, в этом есть твой огромный вклад, огромнейшее спасибо))"</p>

                        <p class="text-center text-muted mb-0">Артем Орешкин</p>
                        <p class="text-center text-muted">
                            <a href="https://vk.com/artemoresh"><i class="fab fa-vk fa-lg"></i></a>
                        </p>
                        <p class="text-center text-muted">Выпускник 2017 года</p>
                    </div>
                    <div class="mt-4 testi-img">
                        <img src="http://quant.zone/static/images/mentions/orechkin.png" width="180" alt="" class="img-fluid rounded-circle d-block mx-auto">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-box pt-5">
                    <div class="testimonial-desc p-4">
                        <p class="text-center text-muted">"Занимались с Виталием всего пару недель, за это время смогли выявить и устранить все пробелы в знаниях, накопившиеся за год, что помогло мне сдать зачёт по физике. Занятия были интересными и эффективными, я очень довольна результатом."</p>
                        <p class="text-center text-muted mb-0">Надежда Викулова</p>
                        <p class="text-center text-muted">
                            <a href="https://vk.com/vikulova171"><i class="fab fa-vk fa-lg"></i></a>
                        </p>
                        <p class="text-center text-muted">Ученица гимназии №9</p>
                    </div>
                    <div class="mt-4 testi-img">
                        <img src="http://quant.zone/static/images/mentions/vikulova.png" width="180" alt="" class="img-fluid rounded-circle d-block mx-auto">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-box pt-5">
                    <div class="testimonial-desc p-4">
                        <p class="text-center text-muted">"Денис Сафронов - отличный преподаватель. Он может найти свой подход к любому, понятно объяснить и указать на ошибки. На его занятиях всегда было интересно, я получал что-то новое. С ним действительно приятно и полезно заниматься."</p>
                        <p class="text-center text-muted mb-0">Елизавета Овчинникова</p>
                        <p class="text-center text-muted">
                            <a href="https://vk.com/lizasepo"><i class="fab fa-vk fa-lg"></i></a>
                        </p>
                        <p class="text-center text-muted">Ученица 16-17 учебного года</p>
                    </div>
                    <div class="mt-4 testi-img">
                        <img src="http://quant.zone/static/images/mentions/eng_ovshinnikova.png" width="180" alt="" class="img-fluid rounded-circle d-block mx-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section pb-5 bg-green">
    <a class="anchor" id="features"></a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="pt-5">Из чего строится обучение</h2>
                <p class="pt-3 text-white">Наша команда непрерывно внедряет в рабочий процесс новые технологии и методики работы</p>
            </div>
        </div>
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <img src="http://quant.zone/static/images/icons/read.svg" alt="" class="img-fluid rounded d-none d-md-block float-right"  width="200">
            </div>
            <div class="col-md-6">
                <h3 class="h5">Авторские курсы</h3>
                <p class="pt-2">Наши курсы разработаны преподавателями лучших школ Екатеринбурга (гимназия №9, СУНЦ УрФУ, лицей №110) и включают в себя не просто подготовку к экзаменам, а еще и настоящее погружение в предмет без долгой “зубрежки”</p>
            </div>
        </div>
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <h3 class="h5">Учебные материалы</h3>
                <p class="pt-2">Не нужно покупать никаких учебников - все учебные материалы преподаватели готовят к занятиям самостоятельно</p>
            </div>
            <div class="col-md-6 pt-4">
                <img src="http://quant.zone/static/images/icons/read.svg" alt="" class="img-fluid rounded d-none d-md-block"  width="200">
            </div>
        </div>
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <img src="http://quant.zone/static/images/icons/group.svg" alt="" class="img-fluid rounded d-none d-md-block float-right"  width="200">
            </div>
            <div class="col-md-6">
                <h3 class="h5">Небольшие группы (3-6 человек)</h3>
                <p class="pt-2">В образовательном центре Quant есть группы от 3 до 6 человек - так обеспечивается эффективное взаимодействие между учащимися. Маленькие группы быстрее поддаются организации, быстрее работают и предоставляют каждому ученику внести вклад в работу и тем самым глубже понять предмет</p>
            </div>
        </div>
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <h3 class="h5">80% практики</h3>
                <p class="pt-2">В системе “перевернутого класса” ученик изучает теоретический материал дома, а в классе задает вопросы по теории и применяет полученные знания на практике - от решения тестовых заданий до разбора олимпиадных задач. </p>
            </div>
            <div class="col-md-6 pt-4">
                <img src="http://quant.zone/static/images/icons/touch-screen.svg" alt="" class="img-fluid rounded d-none d-md-block" width="200">
            </div>
        </div>
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <img src="http://quant.zone/static/images/icons/seo.svg" alt="" class="img-fluid rounded d-none d-md-block float-right" width="200">
            </div>
            <div class="col-md-6">
                <h3 class="h5">Диагностика знаний</h3>
                <p class="pt-2">Тестирование на основе образовательного графа помогает определить проблемные темы и скорректировать траекторию дальнейшего обучения</p>
            </div>
        </div>
        <div class="row pt-5 align-items-center">
            <div class="col-md-6">
                <h3 class="h5">Профориентация</h3>
                <p class="pt-2">Мы поддерживаем в детях осознанный подход к учебе и помогаем осознать, как образование поможет в дальнейшей жизни. Поэтому мы создали систему профориентационных мероприятий, чтобы помочь ребятам сориентироваться в выборе профессии.</p>
            </div>
            <div class="col-md-6">
                <img src="http://quant.zone/static/images/icons/seo.svg" alt="" class="img-fluid rounded d-none d-md-block" width="200">
            </div>
        </div>
    </div>
</section>

<section class="section bg-light py-5">
    <a class="anchor" id="pricing"></a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <div class="title-icon">
                        <i class="mdi mdi-note-multiple-outline"></i>
                    </div>
                    <h2 class="section-title">Стоимость</h2>
                    <p class="section-subtitle pt-3 text-muted">Мы предоставляем широкий спектр форм обучения</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-4 col-8">
                <div class="price-box p-4 bg-white text-center mt-4">
                    <div class="plan-price">
                        <p class="h2 pt-3">0 ₽</p>
                    </div>
                    <div class="plan-name mt-4">
                        <p class="h6">Бесплатно</p>
                    </div>
                    <div class="plan-desc mt-4">
                        <ul class="list-unstyled text-muted">
                            <li>Telegram-бот</li>
                            <li>Заочная подготовка</li>
                            <li>Задания каждый день</li>
                            <li>В любое время</li>
                        </ul>
                    </div>
                    <div class="mt-5">
                        <a href="https://t.me/quant_rus" target="blank" class="btn btn-custom btn-rounded">Посмотреть пример</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-8">
                <div class="price-box p-4 bg-white text-center mt-lg-1 mt-4">
                    <div class="plan-lable">
                        <p class="mb-3 text-uppercase">Популярное</p>
                    </div>
                    <div class="plan-price">
                        <p class="h2 pt-3">от 400 ₽/час</p>
                    </div>
                    <div class="plan-name mt-4">
                        <p class="h6">Группа</p>
                    </div>
                    <div class="mt-4">
                        <ul class="list-unstyled text-muted">
                            <li>6 человек максимум</li>
                            <li>30 интенсивных занятий</li>
                            <li>3 пробных экзамена</li>
                            <li>Профориентация</li>
                        </ul>
                    </div>
                    <div class="mt-5">
                        <!-- Button trigger modal -->
                        <button class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                            Записаться
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-8">
                <div class="price-box p-4 bg-white text-center mt-4">
                    <div class="plan-price">
                        <p class="h2 pt-3">от 1000 ₽/час</p>
                    </div>
                    <div class="plan-name mt-4">
                        <p class="h6">Индивидуально</p>
                    </div>
                    <div class="plan-desc mt-4">
                        <ul class="list-unstyled text-muted">
                            <li>Индивидуальная программа</li>
                            <li>Максимальная скорость</li>
                            <li>Поддержка в мессенджерах</li>
                            <li>Профориентация</li>
                        </ul>
                    </div>
                    <div class="mt-5">
                        <!-- Button trigger modal -->
                        <button class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                            Записаться
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section py-5 bg-blue">
    <a class="anchor" id="faq"></a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="text-center">
                    <h2 class="pt-5">Часто задаваемые вопросы</h2>
                    <p class="pt-3 text-white">Беспокоиться о деталях образования нужно, ведь это такой процесс, где каждая мелочь работает на результат. Поэтому все, что вас волнует касательно образовательного процесса, можно обсудить с преподавателем при встрече или по телефону. А ответы на часто задаваемые вопросы есть здесь:</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
                <div class="pt-5">
                    <p class="text-uppercase mb-1">занятия</p>
                    <h3><i class="far fa-question-circle"></i> Сколько длится одно занятие?</h3>
                    <p class="text-white pt-2">Одно занятие по подготовке к ОГЭ или ЕГЭ идет 3 часа (180 минут), на остальных курсах занятия идут по 2 часа. Продолжительность индивидуальных занятий обговаривается лично с преподавателем.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pt-5">
                    <p class="text-uppercase mb-1">преподаватели</p>
                    <h3><i class="far fa-question-circle"></i> Какое образование у преподавателей центра?</h3>
                    <p class="text-white pt-2">Высшее профильное образование по тому предмету, который они преподают. Не хотим хвастаться, но многие из наших преподавателей закончили школу с медалью, а университет - с красным дипломом.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pt-5">
                    <p class="text-uppercase mb-1">занятия</p>
                    <h3><i class="far fa-question-circle"></i> Сколько всего будет занятий и как часто они проходят?</h3>
                    <p class="text-white pt-2">Наши программы рассчитаны на 30 занятий раз в неделю. За это время мы успеваем изучить рассчитанную на учебный год теорию и отработать полученные знания на практике.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pt-5">
                    <p class="text-uppercase mb-1">расписание</p>
                    <h3><i class="far fa-question-circle"></i> Есть ли у вас занятия в каникулы и праздники? Случаются ли переносы занятий?</h3>
                    <p class="text-white pt-2">Мы работаем каждый день, так что занятия в выходные всегда планируем. Однако по договоренности с преподавателем можно разово перенести занятие на другое время, если на это согласна большая часть группы. Мы ценим время наших учеников, и поэтому с нашей стороны переносы случаются редко.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pt-5">
                    <p class="text-uppercase mb-1">дополнительно</p>
                    <h3><i class="far fa-question-circle"></i> Что нужно с собой брать на занятия?</h3>
                    <p class="text-white pt-2">Тетрадь (не менее 48 листов) и письменные принадлежности. Все раздаточные материалы и необходимые учебные пособия есть в центре. Еще можно взять что-нибудь перекусить - занятие длится 3 часа и можно подкрепиться во время перерыва. А еще можно носить сменку (хотя для тех, кому лень, у нас есть бахилы и тапочки).</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pt-5">
                    <p class="text-uppercase mb-1">оплата</p>
                    <h3><i class="far fa-question-circle"></i> Какова стоимость занятия?</h3>
                    <p class="text-white pt-2">Групповое занятие стоит от 400 ₽/60 минут, индивидуальное - от 1000 ₽/60 минут. Стоимость групповых индивидуальных занятий и скидки смотрите выше.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="section bg-light pt-5">-->
    <!--<a class="anchor" id="history"></a>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="content col-lg-6 col-12 text-center pb-5">-->
                <!--<h2 class="pb-3">Наша история</h2>-->
                <!--<p>Aliquam euismod vehicula lacus, non congue ante pulvinar a. Nunc eu posuere risus, ut condimentum ante. Suspendisse at turpis sollicitudin odio congue lobortis vitae nec nisi. Nullam sodales at libero in lacinia. Nullam vel nibh pulvinar, interdum purus tristique, iaculis turpis. Integer imperdiet tincidunt erat vel gravida. Suspendisse tincidunt orci sed leo euismod, quis ultrices ipsum lobortis. Sed viverra dui et elit accumsan accumsan. Donec lorem turpis, iaculis ac fermentum nec, dignissim sed nisi. Nunc condimentum turpis arcu, eu aliquet lorem eleifend ut. Integer at lorem nec diam elementum convallis vel vel nulla.</p>-->
                <!--<p>Nullam vel nibh pulvinar, interdum purus tristique, iaculis turpis. Integer imperdiet tincidunt erat vel gravida. eleifend ut. Integer at lorem nec diam elementum convallis vel vel nulla.</p>-->
            <!--</div>-->
            <!--<div class="col-lg-5 col-12 mr-auto ml-auto pb-5">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-4 col-4 text-center">-->
                        <!--<img src="https://dummyimage.com/150x150/828282.png" alt="" class="img-fluid rounded-circle mx-auto">-->
                        <!--<p class="pt-3">Виталий Харченко</p>-->
                        <!--<p>CEO</p>-->
                        <!--<ul class="list-inline">-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-vk"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash;//member&ndash;&gt;-->
                    <!--<div class="col-lg-4 col-4 text-center">-->
                        <!--<img src="https://dummyimage.com/150x150/828282.png" alt="" class="img-fluid rounded-circle mx-auto">-->
                        <!--<p class="pt-3">Екатерина Парамонова</p>-->
                        <!--<p>CTO</p>-->
                        <!--<ul class="list-inline">-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-vk"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash;//member&ndash;&gt;-->
                    <!--<div class="col-lg-4 col-4 text-center">-->
                        <!--<img src="https://dummyimage.com/150x150/828282.png" alt="" class="img-fluid rounded-circle mx-auto">-->
                        <!--<p class="pt-3">Екатерина Пирожок</p>-->
                        <!--<p>CMO</p>-->
                        <!--<ul class="list-inline">-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-vk"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>-->
                            <!--<li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash;//member&ndash;&gt;-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;//team&ndash;&gt;-->
        <!--</div>&lt;!&ndash;//row&ndash;&gt;-->
    <!--</div>&lt;!&ndash;//container&ndash;&gt;-->
<!--</section>-->

<section class="section bg-light py-5">
    <a class="anchor" id="team"></a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="pb-3">Наши эксперты</h2>
                <p class="pt-3">Наши преподаватели объясняют сложные темы наглядно и простым языком, используя современные образовательные технологии и гаджеты. Они всегда на связи и готовы ответить на ваши вопросы - например, во ВКонтакте.</p>
            </div>
        </div>
        <div class="row mt-4">

            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <img class="w-100" src="{% static 'img/teachers/пирожок.png' %}" alt="">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a href="https://vk.com/shtessel" target="_blank"><i class="fab fa-vk"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:89617754852"><i class="fas fa-phone"></i></a>
                        </li>
                    </ul>
                    <div class="pb-4">
                        <h3 class="h5">
                            Екатерина <br> Пирожок
                        </h3>
                        <p class="mb-0">
                            Русский язык
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <img class="w-100" src="{% static 'img/teachers/парамонова.png' %}" alt="">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a href="https://vk.com/ekaterinatelepova" target="_blank"><i class="fab fa-vk"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:89021885465"><i class="fas fa-phone"></i></a>
                        </li>
                    </ul>
                    <div class="pb-4">
                        <h3 class="h5">
                            Екатерина <br> Парамонова
                        </h3>
                        <p class="mb-0">
                            Математика
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <img class="w-100" src="{% static 'img/teachers/киселев.png' %}" alt="">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a href="https://vk.com/id111898155" target="_blank"><i class="fab fa-vk"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:89920085976"><i class="fas fa-phone"></i></a>
                        </li>
                    </ul>
                    <div class="pb-4">
                        <h3 class="h5">
                            Владислав <br> Киселев
                        </h3>
                        <p class="mb-0">
                            Математика
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <img class="w-100" src="{% static 'img/teachers/харченко.png' %}" alt="">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a href="https://vk.com/vitaliyharchenko" target="_blank"><i class="fab fa-vk"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:89826469454"><i class="fas fa-phone"></i></a>
                        </li>
                    </ul>
                    <div class="pb-4">
                        <h3 class="h5">
                            Виталий <br> Харченко
                        </h3>
                        <p class="mb-0">
                            Физика
                        </p>
                    </div>
                </div>
            </div>
        </div><!--END row-->

        <div class="row mt-4">
            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <img class="w-100" src="{% static 'img/teachers/лесогорова.png' %}" alt="">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a href="https://vk.com/id11650281" target="_blank"><i class="fab fa-vk"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:89028777717"><i class="fas fa-phone"></i></a>
                        </li>
                    </ul>
                    <div class="pb-4">
                        <h3 class="h5">
                            Светлана <br> Лесогорова
                        </h3>
                        <p class="mb-0">
                            Химия
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <img class="w-100" src="{% static 'img/teachers/глазырин.png' %}" alt="">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a href="https://vk.com/id249683769" target="_blank"><i class="fab fa-vk"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:89321216402"><i class="fas fa-phone"></i></a>
                        </li>
                    </ul>
                    <div class="pb-4">
                        <h3 class="h5">
                            Вячеслав <br> Глазырин
                        </h3>
                        <p class="mb-0">
                            Литература
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <img class="w-100" src="{% static 'img/teachers/носкова.png' %}" alt="">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a href="https://vk.com/anwenanariel" target="_blank"><i class="fab fa-vk"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:89022762420"><i class="fas fa-phone"></i></a>
                        </li>
                    </ul>
                    <div class="pb-4">
                        <h3 class="h5">
                            Полина <br> Носкова
                        </h3>
                        <p class="mb-0">
                            Биология
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4">
                <div class="card text-center show-onHover-parent">
                    <img class="w-100" src="{% static 'img/teachers/новоселова.png' %}" alt="">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item">
                            <a href="https://vk.com/id21603705" target="_blank"><i class="fab fa-vk"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="tel:89089077814"><i class="fas fa-phone"></i></a>
                        </li>
                    </ul>
                    <div class="pb-4">
                        <h3 class="h5">
                            Екатерина <br> Новоселова
                        </h3>
                        <p class="mb-0">
                            Обществознание
                        </p>
                    </div>
                </div>
            </div>
        </div><!--END row-->
    </div> <!-- END container-->
</section>

<section class="section py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pb-5">
                <h2>
                    Почему мы <span style="color: #F3833C !important;">лучшие</span>
                </h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 mt-4 pr-lg-5">
                <p class="mb-4">
                    Цель нашей работы - показать ученикам, что образование может быть доступным, быстрым и продуктивным.
                </p>
                <p class="mb-4">
                    Для этого мы:
                </p>
                <ul class="list-unstyled">
                    <li class="d-flex align-items-center mb-2">
                        <span class="fas fa-check-circle pr-1 fa-lg"></span>
                        &nbsp;учим правильно учиться и структурировать информацию
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <span class="fas fa-check-circle pr-1 fa-lg"></span>
                        &nbsp;применяем передовые методики обучения
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <span class="fas fa-check-circle pr-1 fa-lg"></span>
                        &nbsp;все время находимся на связи с нашими учениками
                    </li>
                    <li class="d-flex align-items-center mb-2">
                        <span class="fas fa-check-circle pr-1 fa-lg"></span>
                        &nbsp;заботимся об атмосфере в нашем центре
                    </li>
                </ul>
            </div> <!-- END col-lg-6-->
            <div class="col-lg-6 mt-4">
                <div class="progress-item mb-5">
                    <span>Cредний балл наших учеников на экзамене</span>
                    <p class="h4 float-right text-secondary">75%</p>
                    <p class="text-muted">
                        <small>На 25% больше, чем в среднем по России</small>
                    </p>
                    <div class="progress w-100">
                        <div class="progress-bar" style="width: 75%; background-color: #F3833C;"></div>
                    </div>
                </div>
                <div class="progress-item mb-5">
                    <span>Доля практики на занятиях</span>
                    <p class="h4 float-right text-secondary">85%</p>
                    <p class="text-muted">
                        <small>Благодаря системе "перевернутого класса"</small>
                    </p>
                    <div class="progress w-100">
                        <div class="progress-bar" style="width: 85%; background-color: #F3833C;"></div>
                    </div>
                </div>
                <div class="progress-item mb-5">
                    <span>Вовлеченность детей в учебный процесс</span>
                    <p class="h4 float-right text-secondary">100%</p>
                    <div class="progress w-100">
                        <div class="progress-bar" style="width: 100%; background-color: #F3833C;"></div>
                    </div>
                </div>
            </div> <!-- END col-lg-6-->
        </div> <!-- END row-->
    </div> <!-- END container-->
</section>

<section class="section py-5 bg-magenta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 mt-3 mb-3">
                <h2 class="h4">Оцените уровень текущих знаний</h2>
                <p class="lead">пройдите бесплатное тестирование, которое займет не больше 30 минут, и получите комментарий преподавателя</p>
            </div>
            <div class="col-md-3 mt-3 mb-3 text-md-right">
                <a href="http://quant.zone/landings/testing" class="btn btn-outline-light">Перейти к тестированию</a>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light pt-5 pb-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="media align-items-center justify-content-center">
					<span class="fas fa-phone fa-4x pr-4"></span>
					<div class="media-body">
						<p class="lead mb-0">+7 (343) 288-52-76</p>
						<p class="mb-0 text-muted">В любой день с 10 до 22</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="media align-items-center">
					<span class="fab fa-whatsapp fa-4x pr-4"></span>
					<div class="media-body">
						<p class="lead mb-0">+7 (982) 646-94-54</p>
						<p class="mb-0 text-muted">WhatsApp</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-4">
				<div class="media align-items-center">
					<span class="fas fa-map-marker-alt fa-4x pr-4"></span>
					<div class="media-body">
						<p class="lead mb-0">ул. 8 Марта, д.2</p>
						<p class="mb-0 text-muted">вход с ул. Володарского</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.3570192208717!2d60.59440361635967!3d56.83981971509724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16e5f8d678117%3A0xd10c0ce120aa3a2c!2z0J7QsdGA0LDQt9C-0LLQsNGC0LXQu9GM0L3Ri9C5INGG0LXQvdGC0YAgItCa0LLQsNC90YIi!5e0!3m2!1sru!2sru!4v1517256222624" width="100%" height="450" frameborder="0" style="border:0; margin-bottom:-6px" allowfullscreen=""></iframe>

<section class="section py-5 bg-black">
    <a class="anchor" id="contacts"></a>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <h2 class="display-4">
                    <span class="text-muted" style="color: #F3833C !important;">Квант</span> Готовим к успешной сдаче ЕГЭ
                </h2>
                <p>Наши программы по школьным предметам разработаны для успешной сдачи ЕГЭ с любым уровнем начальной подготовки</p>
            </div>
            <div class="col-lg-5 px-4 text-center">
                <h3 class="h4">Закажите звонок от преподавателя</h3>
                <form action="" method="POST" class="pt-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="id_name" name="name" class="form-control form-control-lg" placeholder="Ваше имя">
                    </div>
                    <div class="form-group">
                        <input type="text" id="id_phone" name="phone" class="form-control form-control-lg" placeholder="Телефон">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg" style="background-color: #F3833C; border-color: #F3833C">
                        Заказать звонок
                    </button>
                    <p class="pt-3">
                        <small class="text-muted">* перезвоним как только отпустим наших детей по домам</small>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <img src="{% static 'img/logo_horizontal_bw.png' %}" alt="" height="60">
                    <small class="d-block mb-3 text-muted pt-2">ИП Харченко В.В. © 2015-2018</small>
                    <!--<div class="input-group mb-3 pt-2">-->
                        <!--<input type="text" class="form-control" placeholder="Ваш email" aria-label="Ваш email" aria-describedby="basic-addon2">-->
                        <!--<div class="input-group-append">-->
                            <!--<button class="btn btn-outline-secondary" type="button">Подписаться</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<p class="small">-->
                        <!--Подпишитесь на нашу рассылку с топ-кеками-->
                    <!--</p>-->
                </div>
                <div class="col-lg-3 col-md-6 col-6 ml-auto mb-5 mb-lg-0">
                    <h4>Ссылки</h4>
                    <ul class="list-unstyled pt-2">
                        <li><a class="text-muted" target="_blank" href="https://drive.google.com/file/d/1Q-dX9KuLBs5GEIOr4ZLJlkhUHtx2TYYi/view?usp=sharing">Договор-оферта</a></li>
                        <!--<li><a class="text-muted" href="#">Политика конфиденциальности</a></li>-->
                        <li><a class="text-muted" href="http://quant.zone/landings/testing">Бесплатные тестирования</a></li>
                        <!--<li><a class="text-muted" href="#">ЕГЭ-бот</a></li>-->
                        <li><a class="text-muted" target="_blank" href="https://tochka.com/my/quant">Оплата курсов</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-6 ml-auto mb-5 mb-lg-0">
                    <h4>Контакты</h4>
                    <ul class="list-unstyled pt-2">
                        <li class="mb-1">
                            <a class="text-muted" href="tel:+73432885276">+7 (343) 288-52-76</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-muted" href="mailto:clients@quant.zone">clients@quant.zone</a>
                        </li>
                        <li class="mb-1">
                            <a class="text-muted">ул. 8 Марта д.2</a>
                        </li>
                    </ul>
                    <ul class="list-inline mt-2">
                        <li class="list-inline-item">
                            <a href="https://vk.com/quantzone"><i class="fab fa-vk fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/quant.ekb/"><i class="fab fa-instagram fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCoUKlSnccos27LFxJiVs5lA"><i class="fab fa-youtube fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/quantzone"><i class="fab fa-facebook fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Закажите звонок от преподавателя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <form action="" method="POST" class="pt-4 px-4 text-center">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id="id_name" name="name" class="form-control form-control-lg" placeholder="Ваше имя">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="id_phone" name="phone" class="form-control form-control-lg" placeholder="Телефон">
                                </div>
                                <button type="submit" class="btn btn-secondary btn-lg">
                                    Заказать звонок
                                </button>
                                <p class="pt-3 text-center">
                                    <small class="text-muted">* мы перезвоним как только отпустим наших детей по домам</small>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}" async></script>

</body>
</html>
