{% extends 'lms/base.html' %}

{% load markdown_extras %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'lms:index' %}">LMS</a></li>
            <li class="breadcrumb-item active" aria-current="page">Тесты</li>
        </ol>
    </nav>
    <h2>Доступные тесты</h2>
    <ul>
        {% for quiz in object_list %}
            <li>
                <a href="{% url 'quiz_detail' quiz.pk %}">{{ quiz.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
