{% extends 'lms/base.html' %}

{% load bootstrap4 %}

{% block title %}Registration with VK{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body pb-2">
                        <h2>Registration</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_avatar">Avatar</label>
                                <br>
                                <img class="img-thumbnail" src="{{ photo }}" alt="">
                            </div>
                            {% bootstrap_form form %}
                            {% buttons %}
                                <input type="submit" value="Зарегистрироваться" class="btn btn-outline-primary">
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}